{% extends "products/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center" style="min-height: 80vh;">
        <div class="col-md-5 d-flex align-items-center">

            <div class="card shadow-lg border-0 w-100">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0 p-1">Login</h3>
                </div>

                <div class="card-body p-4">

                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label">
                                    {{ field.label }}
                                </label>
                                {{ field }}

                                {% if field.errors %}
                                    <div class="text-danger mt-1">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">
                                Iniciar sesión
                            </button>
                        </div>
                    </form>

                </div>

                <div class="card-footer text-center text-muted">
                    Product Manager
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}